:root {
	--brand-red: #ef0606;
	--darker-red: #BD0000;
	--text-gray: #666666;
}
/* Typography */
p, legend {
	font-size: 0.75rem;
}

a,p {
	font-color: var(--text-gray);
}

.text-white{
	color: white;
}

.text-black {
	color:black;
}

/* Layout */
h2 {
	margin-bottom: 1.5rem
}
textarea, fieldset {
	max-width: 300px;
	padding: 1rem; 
	margin:0;
	margin-bottom: 1.5rem
}

.block-center {
	display: block;
	margin: auto;
}
.table-row {
	display: table-row;
}
.table-cell {
	display: table-cell;
}
h3.table-cell {
	padding: 0 0 1.5rem; /* To mimic the effect of margin-bottom */
}

.table-cell.-v-align-middle {
	vertical-align: middle;
}
.h-100 {
	height: 100%;
}
nav {
	position: fixed;
	top: 0;
	padding: 10px 0;
	width: 100%;
	/* For better appearance of box-shadoww element */
	z-index: 3;
	height: 46px;
	background: white;
}

select {
	margin-bottom: 1.5rem;
}


.button {
	min-width: 60px;
	min-height: 30px;
	border: transparent;
	border-radius: 2px;
	color: white;
	font-size: 1rem;
	font-weight: 300;
	display: block;
	background-color: var(--brand-red);
	margin: 0 auto;
 	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
@keyframes dashedBorder {
	to {
		outline-color: var(--darker-red);
		box-shadow: 0 0 0 2px white;
	}
}
.animated-border {
  	display: inline-block; 

}
.animated-border > input:focus{
  	outline: 2px dashed white;
	border-radius: 2px;
  	box-shadow: 0 0 0 2px var(--darker-red);
  	animation: 0.3s dashedBorder ease-in infinite;
}

.button.-bg_dark {
	box-shadow: 0 1px 3px rgba(255,255,255,0.24), 0 1px 2px rgba(255,255,255,0.48);
}

.button:hover, .button:focus {
  	box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.22);	
}

.button.-bg_dark:hover {
	box-shadow: 0 10px 20px rgba(255,255,255,0.25), 0 6px 6px rgba(255,255,255,0.22);
}  

.button:active, .button.-bg_dark:active {
  	box-shadow: none;
	min-width: 57px;
	min-height: 27px;
	font-size: 0.9rem;	
}

.box-shadow-3 {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.box-shadow-3.-fake {
	height: 5px;
	position: fixed;
	top: 40px;
	width:100%;
}


.box-shadow-3.-fake.-white {
	box-shadow: 0 10px 20px rgba(255,255,255,0.40), 0 6px 6px rgba(255,255,255,0.45);
	width:120%;
}


.encryption, .decryption {
	min-height: 100%;
	height:auto; /* to accomodate height of child elements */
	padding-top: 3rem; /* due to clipping on link click */
}
.encryption {
	background-color: white;

}
.decryption {
	color: white;
	background-color: black;
}


.bg-gradient.-radial{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ccedff+0,ffffff+100 */
	background: #ccedff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #ccedff 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #ccedff 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #ccedff 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccedff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg-gradient.-split {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,ffffff+50,000000+50,000000+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 50%, #ffffff 50%, #000000 50%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#ffffff 50%,#000000 50%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 50%,#ffffff 50%,#000000 50%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

/* Splash Screen */
.splash-screen a {
	font-size: 3.5rem;
	text-decoration: none;
}

.splash-screen span {
	padding: 0.5rem;
	border-radius: 50%;
}

.bg-white {
	background-color: white;
}

/* Tab Navigation */

#encrypt, #decrypt {
	display: none; /* On mobile screens, poor UX with toggling 'visibility */
}

#encrypt:target, #decrypt:target {
	display: block;
}

#encrypt:target ~ .splash-screen, #decrypt:target ~ .splash-screen {
	height:0;
	top: -200px;
}

.tab-navigation {
	font-size: 1.25rem;	
	text-decoration: none;
	color: var(--text-gray);
}

.tab-navigation.active {
	color: var(--brand-red);
	text-decoration: underline;
}

.tab-navigation:hover, .tab-navigation:focus {
	text-decoration: underline;
}

@media screen and (min-width: 786px ) {
	
	#encrypt:target, #decrypt:target {
		visibility: visible;
	}

}